.logo{
	display: block;
	width: 370px; height: 120px;
	background: url(../images/logomarca.png) center center no-repeat;
	margin:5px auto;
}

.logo-menor{
	display: block;
	width: 95px; height: 30px;
	background: url(../images/logo-interna.png) center center no-repeat;
}

.no-bg{
	background-color: transparent!important;
}

.data-atual{
	float:right; padding-right: 10px;
}

.table-header{
	background-color: #A72428;
}

.float-l{
	float: left;
}

.float-r{
	float: right;
}

.align-l{
	text-align: left;
}

.align-c{
	text-align: center;
}

.align-r{
	text-align: right;
}

.full-width{
	width: 100%;
}

/*
===============================================
ADMINISTRADORES
===============================================
*/

.status{
	font-size: 20px;
}

.verde{
	color: rgb(135, 184, 127);
}

.amarelo{
	color: rgb(255, 183, 82);
}

.vermelho{
	color: rgb(209, 91, 71);
}